<h1>CDB</h1>

<table style="border: 1px solid">
  <tr>
    <td><label for="startvalue">StartValue</label></td>
    <td><input type="number" class="form-control" [(ngModel)]="startvalue" id="startvalue" placeholder="Enter a startmoney"></td>
  </tr>
  <tr>
    <td><label for="months">Months</label></td>
    <td><input type="number" class="form-control" [(ngModel)]="months" id="months" placeholder="Enter a quantity of months"></td>
  </tr>
  <tr>
    <td align="right" colspan="2">
      <button class="btn btn-primary" (click)="Calculating()">Calculate</button>
    </td>
  </tr>
  <tr>
    <td><label for="finalValue">finalValue</label></td>
    <td><input type="number" class="form-control" [(ngModel)]="finalValue" id="finalValue"></td>
  </tr>
  <tr>
    <td><label for="finalValueWithTaxes">finalValueWithTaxes</label></td>
    <td><input type="number" class="form-control" [(ngModel)]="finalValueWithTaxes" id="finalValueWithTaxes"></td>
  </tr>
</table>


